<footer class="site-footer">

  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col">
              <p class="text">{{ site.description }}</p>

        <ul class="contact-list list">
          <li class="social-media-list">
            {% if site.github_username %}
              <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github-alt"></i></a>            
            {% endif %}

            {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a>
            {% endif %}

            {% if site.linkedin_username %}            
            <a href="https://id.linkedin.com/in/{{ site.linkedin_username }}"><i class="fa fa-linkedin"></i></a>
            {% endif %}

          </li>
                    <li class="email"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>

        </ul>
      </div>

    </div>

  </div>

</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-17354616-7', 'auto');
  ga('send', 'pageview');

</script>
